/* body{
   background-color: rgb(241, 234, 227);
}
.button{
            background-color: #722828;
            color: #FFFFFF;
            border: 2px solid #B8860B;
            border-radius: 6px;
            padding: 8px 18px;
            font-size: 14px;
            cursor: pointer;
}
.nav1{
   color: #174A7C;
   font: bold;
}
.acher{
   text-decoration: none;
   font-size: 20px;
}
hr{
    border-top: 2.3px solid #B8860B;
}
.cine{
   color: rgb(6, 81, 31);
   text-shadow: 4px 3px 18px rgb(6, 81, 31);
} */


body {
   background-color: rgb(241, 234, 227);
   /* background: linear-gradient(#F8F4E3,#EFE2C6,#D6C2A3); */
   background: linear-gradient(to bottom, #FFF8E7, #F3E6C8, #DCC7A1);
   font-family: Arial, Helvetica, sans-serif;
}

hr {
   border: 0;
   border-top: 2.3px solid #B8860B;
}

.acher {
   text-decoration: none;
   color: #174A7C;
   font-weight: bold;
   font-size: 18px;
   transition: 0.4s;
}

.acher:hover {
   color: #C47F17;
   font-size: 21px;
   transition: 0.4s;
}

.nav1 {
   border: 2px solid burlywood;
   box-shadow: 0px 0px 15px 0px rgb(140, 116, 84);
   height: 50px;
   width: 93%;

   position: sticky;
   top: 2.5px;
   z-index: 1000;

   display: flex;
   justify-content: center;
   align-items: center;

   margin: 15px auto;
   /* background-color: rgb(242, 234, 216); */
   background: linear-gradient(90deg, #FFF8E7, #F1DFC0, #FFF8E7);
   gap: 20px;
}

.cine {
   color: rgb(6, 81, 31);
   text-shadow: 4px 3px 18px rgb(6, 81, 31);
}

.photo {
   transition: 0.8s;
   border-radius: 2.5px;
}

.photo:hover {
   border: 4px solid #B8860B;
   border-radius: 8px;
   /* box-shadow: 20px 2px 12px 25px #000000; */
   box-shadow: -0.5px 0 16px 7px #6b6251;
   transform: scale(1.03);
   transition: 0.8s;

}

.button {
   background-color: #722828;
   color: #FFFFFF;
   border: 2px solid #B8860B;
   border-radius: 6px;
   padding: 8px 18px;
   font-size: 14px;
   cursor: pointer;
   transition: 0.5s;
}

.button:hover {
   box-shadow: 0 5px 14px 0.4px rgba(70, 35, 20);
   background-color: #d4a01bcd;
   border: 2px solid #722828;
   transform: scale(1);
   transition: 0.7s;
}